<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>留言</title>
    <link rel="stylesheet" id="open_social_css-css" href="/static/pl/os.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/pl/style(1).css" media="all">
    <link href="/static/pl/font-awesome.min.css" rel="stylesheet" media="screen">
</head>
<body class="home blog">
<div class="placeholder"></div>
<script src="/static/pl/hm.js"></script><script src="/static/pl/jquery.js"></script>
<header class="header">
    <div class="navbar">
        <ul class="nav">
            <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home">
                <a href="{:url('index/Index/index')}">首页</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                <a href="{:url('index/Index/about')}">关于</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                        <a href="">关于我</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                        <a href="">交友信息</a></li>
                </ul></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home">
                <a href="{:url('index/Index/growup')}">成长</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                <a href="">学习</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                        <a href="">php</a></li>
                </ul>
            </li>
            　　<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="http://www.zbboke.com/tp/">娱乐</a></li>
            　　<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="http://www.zbboke.com/yl/">海之城</a> </li>
            　　<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="http://www.zbboke.com/ly/">留言</a></li>
        </ul>
        <div class="menu pull-right">
            <form name="formsearch" action="http://www.zbboke.com/plus/search.php" method="get">
                <input class="search-input" name="q" type="text" id="search-keyword" value="" required="required" placeholder=" 输入你要找的内容">
                <button type="submit" class="searchbtn search-submit" name="search" title="搜一下">
                    <i class="fa"></i>
                </button>
            </form>

        </div>
    </div>
</header>
<section class="container">
    <div class="content-wrap">
        <!--<header class="archive-header" style="width:855px; float:left;">-->
            <!--<h1 style="width:600px; display:inline-block;">留言</h1>-->
            <!--<p style="float:right; margin:0px; line-height:40px;"><a href="http://www.zbboke.com//">主页</a> &gt;-->
                <!--<a href="http://www.zbboke.com/ly/">留言</a> &gt; </p>-->
        <!--</header>-->
        <!-- 多说评论框 start -->
        <!-- 多说评论框 start -->
        <!--<div style="width:895px;" class="ds-thread" data-thread-key="" data-title="留言栏目" data-url=""></div>-->
        <!--<style>-->
            <!--.section-cbox-w{width:900px !important;}-->
            <!--#SOHUCS{width:74% !important; margin-left:0px !important; margin-right:0px !important;}-->
        <!--</style>-->
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <!--PC和WAP自适应版-->
        <div id="SOHUCS" sid="15">
            <div node-type="face-box" class="face-wrapper-dw">
                <div node-type="face-cont" class="wrapper-cont-dw">
                    <ul class="clear-g">
                        <li>
                            <span title="流汗" data_path="base" data-ubb="/流汗" class="face-item face_01"></span>
                        </li>
                        <li>
                            <span title="钱" data_path="base" data-ubb="/钱" class="face-item face_02"></span>
                        </li>
                        <li>
                            <span title="发怒" data_path="base" data-ubb="/发怒" class="face-item face_03"></span>
                        </li>
                        <li>
                            <span title="浮云" data_path="base" data-ubb="/浮云" class="face-item face_04"></span>
                        </li>
                        <li>
                            <span title="给力" data_path="base" data-ubb="/给力" class="face-item face_05"></span>
                        </li>
                        <li>
                            <span title="大哭" data_path="base" data-ubb="/大哭" class="face-item face_06"></span>
                        </li>
                        <li>
                            <span title="憨笑" data_path="base" data-ubb="/憨笑" class="face-item face_07"></span>
                        </li>
                        <li>
                            <span title="色" data_path="base" data-ubb="/色" class="face-item face_08"></span>
                        </li>
                    </ul>
                    <ul class="clear-g">
                        <li>
                            <span title="奋斗" data_path="base" data-ubb="/奋斗" class="face-item face_09"></span>
                        </li>
                        <li>
                            <span title="鼓掌" data_path="base" data-ubb="/鼓掌" class="face-item face_10"></span>
                        </li>
                        <li>
                            <span title="鄙视" data_path="base" data-ubb="/鄙视" class="face-item face_11"></span>
                        </li>
                        <li>
                            <span title="可爱" data_path="base" data-ubb="/可爱" class="face-item face_12"></span>
                        </li>
                        <li>
                            <span title="闭嘴" data_path="base" data-ubb="/闭嘴" class="face-item face_13"></span>
                        </li>
                        <li>
                            <span title="疑问" data_path="base" data-ubb="/疑问" class="face-item face_14"></span>
                        </li>
                        <li>
                            <span title="抓狂" data_path="base" data-ubb="/抓狂" class="face-item face_15"></span>
                        </li>
                        <li>
                            <span title="惊讶" data_path="base" data-ubb="/惊讶" class="face-item face_16"></span>
                        </li>
                    </ul>
                    <ul class="clear-g">
                        <li>
                            <span title="可怜" data_path="base" data-ubb="/可怜" class="face-item face_17"></span>
                        </li>
                        <li>
                            <span title="弱" data_path="base" data-ubb="/弱" class="face-item face_18"></span>
                        </li>
                        <li>
                            <span title="强" data_path="base" data-ubb="/强" class="face-item face_19"></span>
                        </li>
                        <li>
                            <span title="握手" data_path="base" data-ubb="/握手" class="face-item face_20"></span>
                        </li>
                        <li>
                            <span title="拳头" data_path="base" data-ubb="/拳头" class="face-item face_21"></span>
                        </li>
                        <li>
                            <span title="酒" data_path="base" data-ubb="/酒" class="face-item face_22"></span>
                        </li>
                        <li>
                            <span title="玫瑰" data_path="base" data-ubb="/玫瑰" class="face-item face_23"></span>
                        </li>
                        <li>
                            <span title="打酱油" data_path="base" data-ubb="/打酱油" class="face-item face_24"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div node-type="module-cmt-list" class="module-cmt-list section-list-w">
                <!-- 最新评论 -->
                <div class="list-block-gw list-newest-w">
                        <script type="text/javascript">
                            (function(){
                                var appid = 'cyso1pvoU';
                                var conf = 'prod_e60ebb78623efa881bbe92edd49ae923';
                                var width = window.innerWidth || document.documentElement.clientWidth;
                                if (width < 960) {
                                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" >' +
                                        '<\/script>');
                                } else{
                                    var loadJs=function(d,a){
                                        var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;
                                        var b=document.createElement("script");
                                        // b.setAttribute("type","text/javascript");
                                        // b.setAttribute("charset","UTF-8");
                                        b.setAttribute("src",d);


                                        if(typeof a==="function"){
                                            if(window.attachEvent){b.onreadystatechange=function(){
                                            // var e=b.readyState;

                                                if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}
                                            }

                                            }else{b.onload=a}

                                        }c.appendChild(b)};

                                        loadJs("https://changyan.sohu.com/upload/changyan.js",
                                            function(){window.changyan.api.config({appid:appid,conf:conf})});
                                }
                            })
                            ();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="toTop">
    <ul>
        <li class="backBtn" title="返回顶部" style="display: none;">
            <a href="javascript:;" class="icon_backTo"></a>
        </li>
    </ul>
</div>
</body>
</html>